---
import Layout from '../../layouts/Layout.astro';
import { GENERAL } from '../../constants/constants';
import Landing from '../../components/blog/Landing.astro';
import BlogList from '../../components/blog/BlogList.astro';

---

<Layout title={GENERAL.title} description={GENERAL.description}>
	<Landing></Landing>
  <main>
		<BlogList></BlogList>
  </main>
</Layout>
