---

---

<section class="section-about-stats">
	<div class="container">
		<div class="inner-wrapper">
			<div class="section-header about-stats">
				<h2
					data-w-id="a5fb1fa5-716f-b256-d8ca-4278281baa6a"
					class="about-stats-heading"
				>
					¿Cuanta gente confia en Itecce?
				</h2>
			</div><div class="section-content about-stats">
				<div
					data-w-id="0124df56-6eee-5527-dc03-4d64d78ade8f"
					class="about-stats-item"
				>
					<div class="about-stats-icon">
						<img
							src="images/AcercaDe/AcercaDeDocentes.svg"
							loading="lazy"
							alt="Student icon"
						/>
					</div><div class="about-stats-text-wrapper">
						<h3 class="about-stats-number">190<span class="color-secondary">+</span></h3><div
							class="about-stats-text"
						>
							Docentes
						</div>
					</div>
				</div><div
					data-w-id="68430ce3-a3f4-83b6-b94e-fa102053d129"
					class="about-stats-item"
				>
					<div class="about-stats-icon">
						<img
							src="images/AcercaDe/AcercaDeEstudiantes.svg"
							loading="lazy"
							alt="Study icon"
						/>
					</div><div class="about-stats-text-wrapper">
						<h3 class="about-stats-number">2500<span class="color-secondary">+</span></h3><div
							class="about-stats-text"
						>
							Estudiantes
						</div>
					</div>
				</div><div
					data-w-id="cc3a479b-dd67-f8af-8427-c7e988365aa5"
					class="about-stats-item"
				>
					<div class="about-stats-icon">
						<img
							src="images/AcercaDe/AcercaDeProgramas.svg"
							loading="lazy"
							alt="Tablet icon"
						/>
					</div><div class="about-stats-text-wrapper">
						<h3 class="about-stats-number">16<span class="color-secondary">+</span></h3><div
							class="about-stats-text"
						>
							Programas
						</div>
					</div>
				</div><div
					data-w-id="901b9c02-756e-5f08-f465-4787b3e183c2"
					class="about-stats-item"
				>
					<div class="about-stats-icon">
						<img
							src="images/AcercaDe/AcercaDeComunidad.svg"
							loading="lazy"
							alt="Community icon"
						/>
					</div><div class="about-stats-text-wrapper">
						<h3 class="about-stats-number">27<span class="color-secondary"> Años</span></h3><div
							class="about-stats-text"
						>
							De experencia
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
