<section class="section-main">
	<div class="container">
		<div class="inner-wrapper">
			<div class="section-header content-align-center">
				<div class="margin-bottom margin-12px">
					<div
						data-w-id="3c3ae180-c430-7d65-5c32-b3734d33fafb"
						class="section-header-subheading background-gradient"
					>
						Bolsa de trabajo
					</div>
				</div><h2
					data-w-id="9c70ce2e-bb25-ca2c-2c2f-5bac15e10ea7"
					class="section-header-heading about-opportunity-heading"
				>
					Avanza en tu carrera profesional con nosotros
				</h2>
			</div><div class="section-content">
				<div class="margin-bottom margin-40px">
					<div class="about-opportunity-gallery">
						<div
							data-w-id="9ad7991b-6a6b-122e-7b68-3b3367d78e75"
							class="about-opportunity-gallery-item"
						>
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f618_about-oppotunity-image-1.webp"
								loading="lazy"
								sizes="100vw"
								srcset="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f618_about-oppotunity-image-1-p-500.webp 500w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f618_about-oppotunity-image-1.webp 786w"
								alt="About Opportunity image"
							/>
						</div><div
							data-w-id="de60b217-3e1d-805c-0908-ba5ee769ab7b"
							class="about-opportunity-gallery-item"
						>
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f619_about-oppotunity-image-2.webp"
								loading="lazy"
								sizes="100vw"
								srcset="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f619_about-oppotunity-image-2-p-500.webp 500w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f619_about-oppotunity-image-2.webp 788w"
								alt="About Opportunity image"
							/>
						</div><div
							data-w-id="277195c6-2c68-9b09-ca65-adde97ff5a41"
							class="about-opportunity-gallery-item"
						>
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f61b_about-oppotunity-image-3.webp"
								loading="lazy"
								sizes="100vw"
								srcset="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f61b_about-oppotunity-image-3-p-500.webp 500w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f61b_about-oppotunity-image-3.webp 788w"
								alt="About Opportunity image"
							/>
						</div>
					</div>
				</div><div class="about-opportunity background-tertiary">
					<div class="about-opportunity-list">
						<a
							data-w-id="9c4d9b97-ad00-78a2-00cb-5d8fa2d23a55"
							href="https://www.notion.so/job-requirement"
							class="about-opportunity-card w-inline-block"
							><div class="about-opportunity-details">
								<h3 class="about-opportunity-title">Head of Human Resource</h3><div
									class="about-opportunity-meta"
								>
									<div class="about-opportunity-meta-item">
										<div class="about-opportunity-meta-icon">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="100%"
												viewBox="0 0 24 24"
												fill="none"
												><g opacity="0.7" clip-path="url(#clip0_1894_21941)"
													><path
														d="M12 20.25C16.5563 20.25 20.25 16.5563 20.25 12C20.25 7.44365 16.5563 3.75 12 3.75C7.44365 3.75 3.75 7.44365 3.75 12C3.75 16.5563 7.44365 20.25 12 20.25Z"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-miterlimit="10"></path><path
														d="M12 11.9996L15.7125 8.28711"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-linecap="round"
														stroke-linejoin="round"></path><path
														d="M9.75 0.75H14.25"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-linecap="round"
														stroke-linejoin="round"></path></g
												><defs
													><clipPath id="clip0_1894_21941"
														><rect width="24" height="24" fill="currentColor"></rect></clipPath
													></defs
												></svg>
										</div><div>Full-time</div>
									</div><div class="about-opportunity-meta-item">
										<div class="about-opportunity-meta-icon">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="100%"
												viewBox="0 0 24 24"
												fill="none"
												><g opacity="0.7" clip-path="url(#clip0_1894_21948)"
													><path
														d="M12 12.75C13.6569 12.75 15 11.4069 15 9.75C15 8.09315 13.6569 6.75 12 6.75C10.3431 6.75 9 8.09315 9 9.75C9 11.4069 10.3431 12.75 12 12.75Z"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-linecap="round"
														stroke-linejoin="round"></path><path
														d="M19.5 9.75C19.5 16.5 12 21.75 12 21.75C12 21.75 4.5 16.5 4.5 9.75C4.5 7.76088 5.29018 5.85322 6.6967 4.4467C8.10322 3.04018 10.0109 2.25 12 2.25C13.9891 2.25 15.8968 3.04018 17.3033 4.4467C18.7098 5.85322 19.5 7.76088 19.5 9.75Z"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-linecap="round"
														stroke-linejoin="round"></path></g
												><defs
													><clipPath id="clip0_1894_21948"
														><rect width="24" height="24" fill="currentColor"></rect></clipPath
													></defs
												></svg>
										</div><div>Remote (USA time-zone)</div>
									</div>
								</div>
							</div><div
								class="about-opportunity-cta-icon"
							>
								<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 16 16" fill="none"
									><path
										d="M13.8539 8.35403L9.35385 12.854C9.26002 12.9478 9.13277 13.0006 9.00009 13.0006C8.86741 13.0006 8.74016 12.9478 8.64634 12.854C8.55251 12.7602 8.49981 12.633 8.49981 12.5003C8.49981 12.3676 8.55251 12.2403 8.64634 12.1465L12.2933 8.50028H2.50001C2.3674 8.50028 2.24022 8.4476 2.14645 8.35383C2.05268 8.26006 2 8.13289 2 8.00028C2 7.86767 2.05268 7.74049 2.14645 7.64672C2.24022 7.55296 2.3674 7.50028 2.50001 7.50028H12.2933L8.64634 3.85403C8.55251 3.76021 8.49981 3.63296 8.49981 3.50028C8.49981 3.3676 8.55251 3.24035 8.64634 3.14653C8.74016 3.05271 8.86741 3 9.00009 3C9.13277 3 9.26002 3.05271 9.35385 3.14653L13.8539 7.64653C13.9004 7.69296 13.9373 7.74811 13.9624 7.80881C13.9876 7.86951 14.0005 7.93457 14.0005 8.00028C14.0005 8.06599 13.9876 8.13105 13.9624 8.19175C13.9373 8.25245 13.9004 8.30759 13.8539 8.35403Z"
										fill="currentColor"></path></svg>
							</div></a
						><a
							data-w-id="fd333cbf-4b65-a2ee-c7c9-8e6fe3a90865"
							href="https://www.notion.so/job-requirement"
							class="about-opportunity-card w-inline-block"
							><div class="about-opportunity-details">
								<h3 class="about-opportunity-title">Head of Marketing</h3><div
									class="about-opportunity-meta"
								>
									<div class="about-opportunity-meta-item">
										<div class="about-opportunity-meta-icon">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="100%"
												viewBox="0 0 24 24"
												fill="none"
												><g opacity="0.7" clip-path="url(#clip0_1894_21941)"
													><path
														d="M12 20.25C16.5563 20.25 20.25 16.5563 20.25 12C20.25 7.44365 16.5563 3.75 12 3.75C7.44365 3.75 3.75 7.44365 3.75 12C3.75 16.5563 7.44365 20.25 12 20.25Z"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-miterlimit="10"></path><path
														d="M12 11.9996L15.7125 8.28711"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-linecap="round"
														stroke-linejoin="round"></path><path
														d="M9.75 0.75H14.25"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-linecap="round"
														stroke-linejoin="round"></path></g
												><defs
													><clipPath id="clip0_1894_21941"
														><rect width="24" height="24" fill="currentColor"></rect></clipPath
													></defs
												></svg>
										</div><div>Full-time</div>
									</div><div class="about-opportunity-meta-item">
										<div class="about-opportunity-meta-icon">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="100%"
												viewBox="0 0 24 24"
												fill="none"
												><g opacity="0.7" clip-path="url(#clip0_1894_21948)"
													><path
														d="M12 12.75C13.6569 12.75 15 11.4069 15 9.75C15 8.09315 13.6569 6.75 12 6.75C10.3431 6.75 9 8.09315 9 9.75C9 11.4069 10.3431 12.75 12 12.75Z"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-linecap="round"
														stroke-linejoin="round"></path><path
														d="M19.5 9.75C19.5 16.5 12 21.75 12 21.75C12 21.75 4.5 16.5 4.5 9.75C4.5 7.76088 5.29018 5.85322 6.6967 4.4467C8.10322 3.04018 10.0109 2.25 12 2.25C13.9891 2.25 15.8968 3.04018 17.3033 4.4467C18.7098 5.85322 19.5 7.76088 19.5 9.75Z"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-linecap="round"
														stroke-linejoin="round"></path></g
												><defs
													><clipPath id="clip0_1894_21948"
														><rect width="24" height="24" fill="currentColor"></rect></clipPath
													></defs
												></svg>
										</div><div>Remote (USA time-zone)</div>
									</div>
								</div>
							</div><div
								class="about-opportunity-cta-icon"
							>
								<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 16 16" fill="none"
									><path
										d="M13.8539 8.35403L9.35385 12.854C9.26002 12.9478 9.13277 13.0006 9.00009 13.0006C8.86741 13.0006 8.74016 12.9478 8.64634 12.854C8.55251 12.7602 8.49981 12.633 8.49981 12.5003C8.49981 12.3676 8.55251 12.2403 8.64634 12.1465L12.2933 8.50028H2.50001C2.3674 8.50028 2.24022 8.4476 2.14645 8.35383C2.05268 8.26006 2 8.13289 2 8.00028C2 7.86767 2.05268 7.74049 2.14645 7.64672C2.24022 7.55296 2.3674 7.50028 2.50001 7.50028H12.2933L8.64634 3.85403C8.55251 3.76021 8.49981 3.63296 8.49981 3.50028C8.49981 3.3676 8.55251 3.24035 8.64634 3.14653C8.74016 3.05271 8.86741 3 9.00009 3C9.13277 3 9.26002 3.05271 9.35385 3.14653L13.8539 7.64653C13.9004 7.69296 13.9373 7.74811 13.9624 7.80881C13.9876 7.86951 14.0005 7.93457 14.0005 8.00028C14.0005 8.06599 13.9876 8.13105 13.9624 8.19175C13.9373 8.25245 13.9004 8.30759 13.8539 8.35403Z"
										fill="currentColor"></path></svg>
							</div></a
						><a
							data-w-id="36c5984d-d09b-8865-a8aa-639400560f22"
							href="https://www.notion.so/job-requirement"
							class="about-opportunity-card w-inline-block"
							><div class="about-opportunity-details">
								<h3 class="about-opportunity-title">Web Design Expert</h3><div
									class="about-opportunity-meta"
								>
									<div class="about-opportunity-meta-item">
										<div class="about-opportunity-meta-icon">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="100%"
												viewBox="0 0 24 24"
												fill="none"
												><g opacity="0.7" clip-path="url(#clip0_1894_21941)"
													><path
														d="M12 20.25C16.5563 20.25 20.25 16.5563 20.25 12C20.25 7.44365 16.5563 3.75 12 3.75C7.44365 3.75 3.75 7.44365 3.75 12C3.75 16.5563 7.44365 20.25 12 20.25Z"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-miterlimit="10"></path><path
														d="M12 11.9996L15.7125 8.28711"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-linecap="round"
														stroke-linejoin="round"></path><path
														d="M9.75 0.75H14.25"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-linecap="round"
														stroke-linejoin="round"></path></g
												><defs
													><clipPath id="clip0_1894_21941"
														><rect width="24" height="24" fill="currentColor"></rect></clipPath
													></defs
												></svg>
										</div><div>Full-time</div>
									</div><div class="about-opportunity-meta-item">
										<div class="about-opportunity-meta-icon">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="100%"
												viewBox="0 0 24 24"
												fill="none"
												><g opacity="0.7" clip-path="url(#clip0_1894_21948)"
													><path
														d="M12 12.75C13.6569 12.75 15 11.4069 15 9.75C15 8.09315 13.6569 6.75 12 6.75C10.3431 6.75 9 8.09315 9 9.75C9 11.4069 10.3431 12.75 12 12.75Z"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-linecap="round"
														stroke-linejoin="round"></path><path
														d="M19.5 9.75C19.5 16.5 12 21.75 12 21.75C12 21.75 4.5 16.5 4.5 9.75C4.5 7.76088 5.29018 5.85322 6.6967 4.4467C8.10322 3.04018 10.0109 2.25 12 2.25C13.9891 2.25 15.8968 3.04018 17.3033 4.4467C18.7098 5.85322 19.5 7.76088 19.5 9.75Z"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-linecap="round"
														stroke-linejoin="round"></path></g
												><defs
													><clipPath id="clip0_1894_21948"
														><rect width="24" height="24" fill="currentColor"></rect></clipPath
													></defs
												></svg>
										</div><div>Remote (USA time-zone)</div>
									</div>
								</div>
							</div><div
								class="about-opportunity-cta-icon"
							>
								<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 16 16" fill="none"
									><path
										d="M13.8539 8.35403L9.35385 12.854C9.26002 12.9478 9.13277 13.0006 9.00009 13.0006C8.86741 13.0006 8.74016 12.9478 8.64634 12.854C8.55251 12.7602 8.49981 12.633 8.49981 12.5003C8.49981 12.3676 8.55251 12.2403 8.64634 12.1465L12.2933 8.50028H2.50001C2.3674 8.50028 2.24022 8.4476 2.14645 8.35383C2.05268 8.26006 2 8.13289 2 8.00028C2 7.86767 2.05268 7.74049 2.14645 7.64672C2.24022 7.55296 2.3674 7.50028 2.50001 7.50028H12.2933L8.64634 3.85403C8.55251 3.76021 8.49981 3.63296 8.49981 3.50028C8.49981 3.3676 8.55251 3.24035 8.64634 3.14653C8.74016 3.05271 8.86741 3 9.00009 3C9.13277 3 9.26002 3.05271 9.35385 3.14653L13.8539 7.64653C13.9004 7.69296 13.9373 7.74811 13.9624 7.80881C13.9876 7.86951 14.0005 7.93457 14.0005 8.00028C14.0005 8.06599 13.9876 8.13105 13.9624 8.19175C13.9373 8.25245 13.9004 8.30759 13.8539 8.35403Z"
										fill="currentColor"></path></svg>
							</div></a
						><a
							data-w-id="edd0cea3-60dc-18c3-1b33-4579bcda77d5"
							href="https://www.notion.so/job-requirement"
							class="about-opportunity-card w-inline-block"
							><div class="about-opportunity-details">
								<h3 class="about-opportunity-title">Head of Human Resource</h3><div
									class="about-opportunity-meta"
								>
									<div class="about-opportunity-meta-item">
										<div class="about-opportunity-meta-icon">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="100%"
												viewBox="0 0 24 24"
												fill="none"
												><g opacity="0.7" clip-path="url(#clip0_1894_21941)"
													><path
														d="M12 20.25C16.5563 20.25 20.25 16.5563 20.25 12C20.25 7.44365 16.5563 3.75 12 3.75C7.44365 3.75 3.75 7.44365 3.75 12C3.75 16.5563 7.44365 20.25 12 20.25Z"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-miterlimit="10"></path><path
														d="M12 11.9996L15.7125 8.28711"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-linecap="round"
														stroke-linejoin="round"></path><path
														d="M9.75 0.75H14.25"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-linecap="round"
														stroke-linejoin="round"></path></g
												><defs
													><clipPath id="clip0_1894_21941"
														><rect width="24" height="24" fill="currentColor"></rect></clipPath
													></defs
												></svg>
										</div><div>Full-time</div>
									</div><div class="about-opportunity-meta-item">
										<div class="about-opportunity-meta-icon">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="100%"
												viewBox="0 0 24 24"
												fill="none"
												><g opacity="0.7" clip-path="url(#clip0_1894_21948)"
													><path
														d="M12 12.75C13.6569 12.75 15 11.4069 15 9.75C15 8.09315 13.6569 6.75 12 6.75C10.3431 6.75 9 8.09315 9 9.75C9 11.4069 10.3431 12.75 12 12.75Z"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-linecap="round"
														stroke-linejoin="round"></path><path
														d="M19.5 9.75C19.5 16.5 12 21.75 12 21.75C12 21.75 4.5 16.5 4.5 9.75C4.5 7.76088 5.29018 5.85322 6.6967 4.4467C8.10322 3.04018 10.0109 2.25 12 2.25C13.9891 2.25 15.8968 3.04018 17.3033 4.4467C18.7098 5.85322 19.5 7.76088 19.5 9.75Z"
														stroke="currentColor"
														stroke-width="1.5"
														stroke-linecap="round"
														stroke-linejoin="round"></path></g
												><defs
													><clipPath id="clip0_1894_21948"
														><rect width="24" height="24" fill="currentColor"></rect></clipPath
													></defs
												></svg>
										</div><div>Remote (USA time-zone)</div>
									</div>
								</div>
							</div><div
								class="about-opportunity-cta-icon"
							>
								<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 16 16" fill="none"
									><path
										d="M13.8539 8.35403L9.35385 12.854C9.26002 12.9478 9.13277 13.0006 9.00009 13.0006C8.86741 13.0006 8.74016 12.9478 8.64634 12.854C8.55251 12.7602 8.49981 12.633 8.49981 12.5003C8.49981 12.3676 8.55251 12.2403 8.64634 12.1465L12.2933 8.50028H2.50001C2.3674 8.50028 2.24022 8.4476 2.14645 8.35383C2.05268 8.26006 2 8.13289 2 8.00028C2 7.86767 2.05268 7.74049 2.14645 7.64672C2.24022 7.55296 2.3674 7.50028 2.50001 7.50028H12.2933L8.64634 3.85403C8.55251 3.76021 8.49981 3.63296 8.49981 3.50028C8.49981 3.3676 8.55251 3.24035 8.64634 3.14653C8.74016 3.05271 8.86741 3 9.00009 3C9.13277 3 9.26002 3.05271 9.35385 3.14653L13.8539 7.64653C13.9004 7.69296 13.9373 7.74811 13.9624 7.80881C13.9876 7.86951 14.0005 7.93457 14.0005 8.00028C14.0005 8.06599 13.9876 8.13105 13.9624 8.19175C13.9373 8.25245 13.9004 8.30759 13.8539 8.35403Z"
										fill="currentColor"></path></svg>
							</div></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
