<section class="section-main">
	<div class="container">
		<div class="inner-wrapper section-about-main">
			<div
				data-w-id="2d31f7c7-a898-5b46-2142-db7361276807"
				class="about-main-figure"
			>
				<img
					src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f62e_about-story-image.webp"
					loading="lazy"
					sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, (max-width: 1279px) 44vw, 556px"
					srcset="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f62e_about-story-image-p-500.webp 500w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f62e_about-story-image.webp 556w"
					alt="about story image"
					class="image-default"
				/>
			</div><div class="about-main-content">
				<div class="margin-bottom margin-32px">
					<div class="about-main-header">
						<div class="margin-bottom margin-12px">
							<div
								data-w-id="64e4e3f6-7f8a-dc4b-7b69-84f28046dcfc"
								class="section-header-subheading background-gradient"
							>
								Detrás de la historia
							</div>
						</div><h2
							data-w-id="d9fe3969-ba22-092a-ebb6-2cfc17ca2afb"
							class="section-header-heading"
						>
							Educación de calidad
						</h2>
					</div>
				</div><div
					data-w-id="930628c2-48d1-a9b8-965c-4c4536f2414c"
					class="section-content"
				>
					<div
						data-current="Our Story"
						data-easing="ease-in-out-circ"
						data-duration-in="500"
						data-duration-out="100"
						class="tabs w-tabs"
					>
						<div class="about-main-tab-navigation w-tab-menu" role="tablist">
							<a
								data-w-tab="Our Story"
								class="about-main-tab-link w-inline-block w-tab-link w--current"
								id="w-tabs-0-data-w-tab-0"
								href="#w-tabs-0-data-w-pane-0"
								role="tab"
								aria-controls="w-tabs-0-data-w-pane-0"
								aria-selected="true"><div>Nuestra Historia</div></a
							><a
								data-w-tab="Mission"
								class="about-main-tab-link w-inline-block w-tab-link"
								tabindex="-1"
								id="w-tabs-0-data-w-tab-1"
								href="#w-tabs-0-data-w-pane-1"
								role="tab"
								aria-controls="w-tabs-0-data-w-pane-1"
								aria-selected="false"><div>Misíon</div></a
							><a
								data-w-tab="Vision"
								class="about-main-tab-link w-inline-block w-tab-link"
								tabindex="-1"
								id="w-tabs-0-data-w-tab-2"
								href="#w-tabs-0-data-w-pane-2"
								role="tab"
								aria-controls="w-tabs-0-data-w-pane-2"
								aria-selected="false"><div>Vision</div></a>
						</div><div class="about-main-tabs-content w-tab-content">
							<div
								data-w-tab="Our Story"
								class="about-main-tab-pane w-tab-pane w--tab-active"
								id="w-tabs-0-data-w-pane-0"
								role="tabpanel"
								aria-labelledby="w-tabs-0-data-w-tab-0"
							>
								<div class="about-main-single-tab-content _1">
									<p class="about-main-tab-text">
										La Universidad ITECCE inicio sus actividades el 23 de Julio de 1997 como Instituto Técnico de Enseñanza y Capacitación en Comercio Exterior, su propósito inicial fue el de ofrecer una alternativa de educación técnica terminal de calidad, especializada en el ámbito de la materia aduanera y de comercio exterior, llegando a tener diez generaciones de egresados en la carrera técnica de “Operación Aduanera”, antes “Comercio Exterior”.
									</p><div class="about-main-tab-horizontal-rule"></div><div
										class="margin-bottom margin-32px"
									>
										<blockquote class="about-main-tab-1-blockquote">
											"Nuestro objetivo es proporcionarte los recursos y el asesoramiento necesarios para convertir los sueños de los alumnos en una realidad."
										</blockquote>
									</div><div class="about-main-ceo-info">
										<div class="about-main-ceo-details">
											<div class="about-main-ceo-image">
												<img
													loading="lazy"
													src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f561_about-main-ceo-image.webp"
													alt="a man with a beard wearing a plaid shirt"
												/>
											</div><div class="about-main-ceo-details-text">
												<h3 class="about-main-ceo-name">Pedro Mancilla</h3><div
													class="about-main-ceo-designation"
												>
													Rector, Manzanillo
												</div>
											</div>
										</div><div class="about-main-ceo-sign">
											<img
												loading="lazy"
												src="images/AcercaDe/AcercaDeFirma.svg"
												alt="Ceo sign"
											/>
										</div>
									</div>
								</div>
							</div><div
								data-w-tab="Mission"
								class="about-main-tab-pane w-tab-pane"
								id="w-tabs-0-data-w-pane-1"
								role="tabpanel"
								aria-labelledby="w-tabs-0-data-w-tab-1"
							>
								<div class="about-main-single-tab-content">
									<p class="about-main-tab-text">
										Ser una Institución que brinde servicios educativos en los diferentes niveles y grados académicos para formar profesionistas de excelencia, fomentando los valores y aptitudes que promuevan el respeto a la dignidad humana, con la firme convicción de servicio hacia y para la sociedad, a través de una obligación ética, social y cultural, siempre comprometidos con los principios democráticos y humanísticos.
									</p><div class="about-main-tab-horizontal-rule"></div><ul
										role="list"
										class="about-main-tab-2-lists"
									>
										<li class="about-main-list-item">
											<div>Find The Right Instructor For You</div>
										</li><li class="about-main-list-item">
											<div>Beautiful Organized Classroom</div>
										</li><li class="about-main-list-item"><div>70+ Awesome Courses</div></li><li
											class="about-main-list-item"
										>
											<div>Learn On Your Schedule</div>
										</li><li class="about-main-list-item">
											<div>Approaches To Corporate Strategy</div>
										</li>
									</ul>
								</div>
							</div><div
								data-w-tab="Vision"
								class="about-main-tab-pane w-tab-pane"
								id="w-tabs-0-data-w-pane-2"
								role="tabpanel"
								aria-labelledby="w-tabs-0-data-w-tab-2"
							>
								<div class="about-main-single-tab-content">
									<p class="about-main-tab-text">
										Consolidar a la Universidad ITECCE como una Institución de excelencia académica a nivel regional, con programas educativos acordes a las necesidades sociales que permitan a sus egresados insertarse en su respectivo ámbito profesional de forma responsable y competitiva.
									</p><div class="about-main-tab-horizontal-rule"></div><div
										class="about-main-info-stats"
									>
										<div class="about-main-info-stats-item">
											<div class="about-main-stats-image">
												<img
													loading="lazy"
													src="images/AcercaDe/VisionMembers.svg"
													alt="Community icon"
												/>
											</div><div class="about-main-info-stats-details">
												<h3 class="about-main-info-stats-title">2500+ Alumnos</h3><div
													class="text-small"
												>
													Estamos muy orgurllosos de la comunidad Itecce que hemos formado.
												</div>
											</div>
										</div><div class="about-main-info-stats-item">
											<div class="about-main-stats-image">
												<img
													loading="lazy"
													src="images/AcercaDe/VisionTeam.svg"
													alt="About stats icon"
												/>
											</div><div class="about-main-info-stats-details">
												<h3 class="about-main-info-stats-title">200+ Empleados</h3><div
													class="text-small"
												>
													Contamos con 200+ empleados que trabajan en conjunto para brindar un servicio de calidad.
												</div>
											</div>
										</div><div class="about-main-info-stats-item">
											<div class="about-main-stats-image">
												<img
													loading="lazy"
													src="images/AcercaDe/VisionCountries.svg"
													alt="about stats icon"
												/>
											</div><div class="about-main-info-stats-details">
												<h3 class="about-main-info-stats-title">3 Campus</h3><div
													class="text-small"
												>
													Itecce se ha posicionado con 3 campus distribuidos en el estado de Colima.
												</div>
											</div>
										</div><div class="about-main-info-stats-item">
											<div class="about-main-stats-image">
												<img
													loading="lazy"
													src="images/AcercaDe/VisionFunding.svg"
													alt="About stats icon"
												/>
											</div><div class="about-main-info-stats-details">
												<h3 class="about-main-info-stats-title">10 Mil ayudas</h3><div
													class="text-small"
												>
													Hemos ayudado a miles de personas a tener una mejor calidad de vida con la educación.
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><div class="horizontal-line-wrapper">
		<div class="container"><div class="horizontal-line"></div></div>
	</div>
</section>
