<section class="section-main background-gradient">
	<div class="container">
		<div class="inner-wrapper section-about-values">
			<div class="section-header content-align-center">
				<div class="margin-bottom margin-12px">
					<div
						data-w-id="ac7af2a5-f3df-bd7a-873e-9acb00d77f61"
						style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
						class="section-header-subheading background-gradient"
					>
						Our Values
					</div>
				</div><h2
					data-w-id="fb447f2b-7946-6c9b-10ef-37286cc3441b"
					style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
					class="section-header-heading section-about-values"
				>
					The values that drive everything we do
				</h2>
			</div><div class="section-content section-about-values">
				<div
					id="w-node-_688cdd22-e08b-5ed1-155d-d066ce5d0021-2082f597"
					data-w-id="688cdd22-e08b-5ed1-155d-d066ce5d0021"
					style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
					class="about-values-item background-white"
				>
					<div class="margin-bottom margin-16px">
						<div class="about-values-icon">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f569_about-values-icon-1.svg"
								loading="lazy"
								alt="Reading icon"
							/>
						</div>
					</div><div class="margin-bottom margin-16px">
						<h3 class="about-values-title">Community First</h3>
					</div><p class="text-small opacity-down">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
						elementum tristique.
					</p>
				</div><div
					id="w-node-fb068d3b-fe63-d731-5de0-639e0d4eaf51-2082f597"
					data-w-id="fb068d3b-fe63-d731-5de0-639e0d4eaf51"
					style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
					class="about-values-item background-white"
				>
					<div class="margin-bottom margin-16px">
						<div class="about-values-icon">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f56a_about-values-icon-%202.svg"
								loading="lazy"
								alt="Mobile with a fingerprint icon on it"
							/>
						</div>
					</div><div class="margin-bottom margin-16px">
						<h3 class="about-values-title">Always Authentic</h3>
					</div><p class="text-small opacity-down">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
						elementum tristique.
					</p>
				</div><div
					id="w-node-_45e4da8d-b204-306a-7aae-04747eeebbe8-2082f597"
					data-w-id="45e4da8d-b204-306a-7aae-04747eeebbe8"
					style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
					class="about-values-item background-white"
				>
					<div class="margin-bottom margin-16px">
						<div class="about-values-icon">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f56e_about-values-icon-%203.svg"
								loading="lazy"
								alt="Icon"
							/>
						</div>
					</div><div class="margin-bottom margin-16px">
						<h3 class="about-values-title">Celebrate Diversity</h3>
					</div><p class="text-small opacity-down">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
						elementum tristique.
					</p>
				</div><div
					id="w-node-b895dc0a-e423-bafd-bda6-f8f67d95d0bb-2082f597"
					data-w-id="b895dc0a-e423-bafd-bda6-f8f67d95d0bb"
					style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
					class="about-values-item background-white"
				>
					<div class="margin-bottom margin-16px">
						<div class="about-values-icon">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f56b_about-values-icon-%204.svg"
								loading="lazy"
								alt="a green and black circle with circles around it"
							/>
						</div>
					</div><div class="margin-bottom margin-16px">
						<h3 class="about-values-title">Waves Before Web</h3>
					</div><p class="text-small opacity-down">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
						elementum tristique.
					</p>
				</div><div
					id="w-node-_1d7868d2-7399-d18c-7f11-96361c0d199e-2082f597"
					data-w-id="1d7868d2-7399-d18c-7f11-96361c0d199e"
					style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
					class="about-values-item background-white"
				>
					<div class="margin-bottom margin-16px">
						<div class="about-values-icon">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f56d_about-values-icon-%205.svg"
								loading="lazy"
								alt="a green circle with a lightning bolt inside of it"
							/>
						</div>
					</div><div class="margin-bottom margin-16px">
						<h3 class="about-values-title">Positive Energy</h3>
					</div><p class="text-small opacity-down">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
						elementum tristique.
					</p>
				</div><div
					id="w-node-eae2b481-d650-fa97-2632-ac067ffa98d6-2082f597"
					data-w-id="eae2b481-d650-fa97-2632-ac067ffa98d6"
					style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
					class="about-values-item background-white"
				>
					<div class="margin-bottom margin-16px">
						<div class="about-values-icon">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f56c_about-values-icon-%206.svg"
								loading="lazy"
								alt="a gear wheel with a leaf inside of it"
							/>
						</div>
					</div><div class="margin-bottom margin-16px">
						<h3 class="about-values-title">Stay Sustainable</h3>
					</div><p class="text-small opacity-down">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
						elementum tristique.
					</p>
				</div>
			</div>
		</div>
	</div><div class="section-decoration-star">
		<div class="container container-decoration-star">
			<div class="inner-wrapper decoration-star-inner">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="100%"
					viewBox="0 0 80 80"
					fill="none"
					class="decoration-star"
					><path
						d="M80 40C69.8149 41.2212 60.3352 45.8281 53.0817 53.0817C45.8282 60.3352 41.2212 69.8149 40 80C38.7811 69.814 34.1749 60.3331 26.9209 53.0791C19.6669 45.8251 10.186 41.219 0 40C10.1851 38.7788 19.6648 34.1719 26.9184 26.9183C34.1719 19.6648 38.7788 10.1851 40 0C41.2212 10.1851 45.8282 19.6648 53.0817 26.9183C60.3352 34.1719 69.8149 38.7788 80 40Z"
						fill="currentColor"></path></svg>
			</div>
		</div>
	</div>
</section>
