---
import { GENERAL } from '../../constants/constants';
---

<section class="section-main about-sticky-section">
	<div class="container">
		<div class="inner-wrapper section-about-process">
			<div class="about-process-aside">
				<div class="about-process-aside-inner">
					<div class="margin-bottom margin-12px">
						<div
							data-w-id="8ca4aae6-5051-3cd1-e91b-2b2ca3ab90bb"
							class="section-header-subheading background-gradient"
						>
							Proceso de inscripción
						</div>
					</div><div class="margin-bottom margin-16px">
						<h2
							data-w-id="475bc041-0f57-7a68-5fe9-37422401f21d"
							class="section-header-heading about-process-heading"
						>
							Hemos simplificado nuestro proceso
						</h2>
					</div><div class="margin-bottom margin-40px">
						<p
							data-w-id="41335ff2-db18-cafe-09e7-8bdb8c3f45d3"
							class="about-process-aside-text"
						>
							{GENERAL.marketing}
						</p>
					</div><div
						data-w-id="fdf2b6bd-550d-abeb-f92a-06064abae687"
						class="button-container"
					>
						<a href="/carreras" class="button-primary w-inline-block"
							><div class="button-box-wrap">
								<div
									class="button-box"
								>
									<div class="button-text">{GENERAL.buttonProgram}</div><div class="button-text-absolute">
										{GENERAL.buttonProgram}
									</div>
								</div>
							</div></a>
					</div>
				</div>
			</div><div class="about-process-content">
				<div
					class="about-process-item background-tertiary"
				>
					<div class="margin-bottom margin-24px">
						<div class="about-process-figure">
							<div class="image-animated-mask">
								<div
									class="image-animated-scale"
								>
									<img
										src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f568_about-process-image-1.webp"
										loading="lazy"
										sizes="(max-width: 479px) 85vw, (max-width: 767px) 91vw, (max-width: 991px) 40vw, (max-width: 1279px) 41vw, 520px"
										srcset="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f568_about-process-image-1-p-500.webp 500w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f568_about-process-image-1-p-800.webp 800w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f568_about-process-image-1.webp 982w"
										alt="About process image"
									/>
								</div>
							</div>
						</div>
					</div><div class="about-process-item-body">
						<div class="about-process-number">01</div><div class="about-process-details">
							<h3 class="about-process-title">Seleecion el programa que te interese</h3><p class="about-process-text">
								Tu programa de estudio puede ser bachillerato, técnico, licenciatura, ingenieria o maestria.
							</p>
						</div>
					</div>
				</div><div
					class="about-process-item background-tertiary"
				>
					<div class="margin-bottom margin-24px">
						<div class="about-process-figure">
							<div class="image-animated-mask">
								<div
									class="image-animated-scale"
								>
									<img
										src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f56f_about-process-image-2.webp"
										loading="lazy"
										sizes="(max-width: 479px) 85vw, (max-width: 767px) 91vw, (max-width: 991px) 40vw, (max-width: 1279px) 41vw, 520px"
										srcset="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f56f_about-process-image-2-p-500.webp 500w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f56f_about-process-image-2-p-800.webp 800w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f56f_about-process-image-2.webp 982w"
										alt="a woman sitting at a table with a laptop computer"
									/>
								</div>
							</div>
						</div>
					</div><div class="about-process-item-body">
						<div class="about-process-number">02</div><div class="about-process-details">
							<h3 class="about-process-title">Llena tu formato de inscripción y presenta tus documentos</h3><p class="about-process-text">
								Al momento de realizar tu inscripcion, ten listo tus documentos para agilizar los procesos estudiantiles.
							</p>
						</div>
					</div>
				</div><div
					class="about-process-item background-tertiary"
				>
					<div class="margin-bottom margin-24px">
						<div class="about-process-figure">
							<div class="image-animated-mask">
								<div
									class="image-animated-scale"
								>
									<img
										src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f570_about-process-image-3.webp"
										loading="lazy"
										sizes="(max-width: 479px) 85vw, (max-width: 767px) 91vw, (max-width: 991px) 40vw, (max-width: 1279px) 41vw, 520px"
										srcset="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f570_about-process-image-3-p-500.webp 500w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f570_about-process-image-3-p-800.webp 800w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f570_about-process-image-3.webp 982w"
										alt="Some people working"
									/>
								</div>
							</div>
						</div>
					</div><div class="about-process-item-body">
						<div class="about-process-number">03</div><div class="about-process-details">
							<h3 class="about-process-title">Realiza tu pago</h3><p
								class="about-process-text"
							>
								Puedes realizar tu pago en efectivo, transferencia bancaria o tarjeta de débito/crédito.
							</p>
						</div>
					</div>
				</div><div
					class="about-process-item background-tertiary"
				>
					<div class="margin-bottom margin-24px">
						<div class="about-process-figure">
							<div class="image-animated-mask">
								<div
									class="image-animated-scale"
								>
									<img
										src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f571_about-process-image-4.webp"
										loading="lazy"
										sizes="(max-width: 479px) 85vw, (max-width: 767px) 91vw, (max-width: 991px) 40vw, (max-width: 1279px) 41vw, 520px"
										srcset="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f571_about-process-image-4-p-500.webp 500w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f571_about-process-image-4-p-800.webp 800w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f571_about-process-image-4.webp 982w"
										alt="a man and a woman looking at a computer screen"
									/>
								</div>
							</div>
						</div>
					</div><div class="about-process-item-body">
						<div class="about-process-number">04</div><div class="about-process-details">
							<h3 class="about-process-title">Asiste a clases</h3><p class="about-process-text">
								Al tener todo listo, puedes asistir a clases en tu campus de elección.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><div class="section-decoration-star">
		<div class="container container-decoration-star">
			<div class="inner-wrapper decoration-star-inner">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="100%"
					viewBox="0 0 80 80"
					fill="none"
					class="decoration-star bottom-right"
					><path
						d="M80 40C69.8149 41.2212 60.3352 45.8281 53.0817 53.0817C45.8282 60.3352 41.2212 69.8149 40 80C38.7811 69.814 34.1749 60.3331 26.9209 53.0791C19.6669 45.8251 10.186 41.219 0 40C10.1851 38.7788 19.6648 34.1719 26.9184 26.9183C34.1719 19.6648 38.7788 10.1851 40 0C41.2212 10.1851 45.8282 19.6648 53.0817 26.9183C60.3352 34.1719 69.8149 38.7788 80 40Z"
						fill="currentColor"></path></svg>
			</div>
		</div>
	</div>
</section>
