---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/acerca-de/Landing.astro';
import AboutStats from '../components/acerca-de/AboutStats.astro';
import Process from '../components/acerca-de/Process.astro';
import DesignEducation from '../components/acerca-de/DesignEducation.astro';
import OurValues from '../components/acerca-de/OurValues.astro';
import Careers from '../components/acerca-de/Careers.astro';
import { GENERAL } from '../constants/constants';
---

<Layout title={GENERAL.title} description={GENERAL.description}>
    <Landing />
    <main class="main-wrapper">
			<AboutStats />
			<DesignEducation />
			<Process />
			<OurValues />
			<Careers />
    </main>
</Layout>
