---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/acerca-de/Landing.astro';
import AboutStats from '../components/acerca-de/AboutStats.astro';
import Process from '../components/acerca-de/Process.astro';
import DesignEducation from '../components/acerca-de/DesignEducation.astro';
import OurValues from '../components/acerca-de/OurValues.astro';
import Teachers from '../components/acerca-de/Teachers.astro';
import Careers from '../components/acerca-de/Careers.astro';
---

<Layout title="Itecce - Conoce nuestra historia, somos itecce" description='Descubre la Universidad que transforma vidas: donde tu futuro comienza hoy, impulsado por la innovación, el conocimiento y el liderazgo global.'>
    <Landing />
    <main class="main-wrapper">
			<AboutStats />
			<DesignEducation />
			<Process />
			<OurValues />
			<Teachers />
			<Careers />
    </main>
</Layout>
