---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/carreras/Landing.astro';
import CarrerasComponent from '../components/carreras/Carreras.astro';
import Testimonials from '../components/landing/Testimonials.astro';
import Faqs from '../components/landing/Faqs.astro';
import GlobalCTA from '../components/GlobalCTA.astro';
import { GENERAL } from '../constants/constants';
---

<Layout title={GENERAL.title} description={GENERAL.description}>
	<Landing />
	<main class="main-wrapper">
		<CarrerasComponent />
		<Testimonials />
		<Faqs />
		<GlobalCTA />
	</main>
</Layout>
