---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/landing/Landing.astro';
import DegreePrograms from '../components/landing/DegreePrograms.astro';
import Events from '../components/landing/PopularPrograms.astro';
import Advantages from '../components/landing/Advantages.astro';
import Faqs from '../components/landing/Faqs.astro';
import Testimonials from '../components/landing/Testimonials.astro';
import GlobalCTA from '../components/GlobalCTA.astro';
import Locations from '../components/Locations.astro';
import { GENERAL } from '../constants/constants';
import ItecceLoading from '../components/react/ItecceLoading';
---

<!-- Loading Component outside Layout
<ItecceLoading client:only="react" />
-->

<!-- Wrap everything else in a container  style="opacity: 0; transition: opacity 0.5s ease-in;"-->
<div id="mainContent" >
    <Layout title={GENERAL.title} description={GENERAL.description}>
        <Landing />
        <main class="main-wrapper">
            <DegreePrograms />
            <Events />
            <Advantages />
            <Testimonials />
            <Faqs />
            <Locations subHeading="Nuestras Ubicaciones" heading="Encuentra tu campus más cercano" />
            <GlobalCTA />
        </main>
    </Layout>
</div>

<style>
    /* Ensure loading component stays on top of everything
    :global(.fixed) {
        position: fixed !important;
        z-index: 9999 !important;
    }
				 */
</style>
