---
import Layout from '../../layouts/Layout.astro';
import { GENERAL } from '../../constants/constants';
import Directory from '../../components/directorio/Directory.astro';
---

<Layout title={GENERAL.title} description={GENERAL.description}>
  <main>
		<Directory></Directory>
  </main>
</Layout>
