---
import { GENERAL } from "../../constants/constants";
---

<header class="section-global-hero background-gradient">
	<div class="container">
		<div class="inner-wrapper courses-hero">
			<div class="courses-hero-content">
				<div
					data-w-id="179d6f24-326e-99fe-081b-51a6dd877ebb"
					class="breadcrumbs"
				>
					<a href="/" class="breadcrumbs-link root">Inicio</a><div class="breadcrumbs-divider">
						/
					</div><a href="/carreras" aria-current="page" class="breadcrumbs-link w--current"
						>Carreras</a>
				</div><div class="margin-bottom margin-16px">
					<h1
						data-w-id="15f0fdd6-4735-d34d-8724-7363a44d1fb1"
						class="text-capitalize"
					>
						Nuestras carreras y programas
					</h1>
				</div><div class="margin-bottom margin-48px">
					<p
						data-w-id="2103f6fa-4cc8-39de-afe4-e4611e414a4a"
						class="body-text-default"
					>
						{GENERAL.marketing}
					</p>
				</div><div
					data-w-id="53258b4d-e63e-aa13-4114-f88942859dd6"
					class="button-container"
				>
					<a href="#Courses" class="button-primary w-inline-block">
						<div class="button-box-wrap">
							<div class="button-box">
								<div class="button-text">Explorar Carreras</div>
								<div class="button-text-absolute">
									Explorar Carreras
								</div>
							</div>
						</div>
					</a>
				</div>
			</div><div
				data-w-id="b36a88dc-65c7-bd85-8aaf-3071e34294fa"
				class="courses-hero-figure"
			>
				<a
					href="#"
					class="w-inline-block w-lightbox"
					aria-label="open lightbox"
					aria-haspopup="dialog"
					><div class="course-hero-image">
						<img
							src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f5f5_course-list-hero-image.webp"
							loading="lazy"
							sizes="(max-width: 479px) 93vw, (max-width: 767px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 43vw, 500px"
							srcset="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f5f5_course-list-hero-image-p-500.webp 500w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f5f5_course-list-hero-image-p-800.webp 800w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f5f5_course-list-hero-image.webp 998w"
							alt="Course listing hero image"
						/><div class="lightbox-video-play-button">
							<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 72 72" fill="none"
								><circle cx="36" cy="36" r="36" fill="#86E7B8"></circle><path
									d="M47 36.4371L31.3392 45.4759L31.3392 27.3983L47 36.4371Z"
									fill="white"></path></svg>
						</div>
					</div><script type="application/json" class="w-json">
						{
							"items": [
								{
									"url": "https://www.youtube.com/watch?v=r233kDWShkA",
									"originalUrl": "https://www.youtube.com/watch?v=r233kDWShkA",
									"width": 940,
									"height": 528,
									"thumbnailUrl": "https://i.ytimg.com/vi/r233kDWShkA/hqdefault.jpg",
									"html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2Fr233kDWShkA%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dr233kDWShkA&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fr233kDWShkA%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
									"type": "video"
								}
							],
							"group": ""
						}
					</script></a
				><img
					src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f586_course-hero-absolute.webp"
					loading="lazy"
					sizes="(max-width: 479px) 150px, (max-width: 767px) 180px, 239px"
					srcset="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f586_course-hero-absolute-p-500.webp 500w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f586_course-hero-absolute.webp 574w"
					alt="Course Listing hero absolute image"
					class="course-hero-absolute-image"
				/>
			</div>
		</div>
	</div><div class="section-decoration-star">
		<div class="container container-decoration-star">
			<div class="inner-wrapper decoration-star-inner">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="100%"
					viewBox="0 0 80 80"
					fill="none"
					class="decoration-star"
					><path
						d="M80 40C69.8149 41.2212 60.3352 45.8281 53.0817 53.0817C45.8282 60.3352 41.2212 69.8149 40 80C38.7811 69.814 34.1749 60.3331 26.9209 53.0791C19.6669 45.8251 10.186 41.219 0 40C10.1851 38.7788 19.6648 34.1719 26.9184 26.9183C34.1719 19.6648 38.7788 10.1851 40 0C41.2212 10.1851 45.8282 19.6648 53.0817 26.9183C60.3352 34.1719 69.8149 38.7788 80 40Z"
						fill="currentColor"></path></svg>
			</div>
		</div>
	</div>
</header>
