---
// src/components/GlobalCTA.astro
---

<section class="section global-cta">
	<div class="global-cta-background-wrapper">
		<div class="global-cta-white-background"></div><div
			class="global-cta-gradient-background background-gradient"
		>
		</div>
	</div><div class="container position-relative">
		<div class="inner-wrapper global-cta-inner background-primary">
			<div class="global-cta-content color-white">
				<div class="margin-bottom margin-48px">
					<h2
						data-w-id="bd2f90b8-4d2d-8e97-a1d0-a94fdc9593fd"
						style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
					>
						Encuentra tu proxima carrera y preparatoria en Itecce
					</h2>
				</div><div
					data-w-id="bd2f90b8-4d2d-8e97-a1d0-a94fdc9593ff"
					class="button-container"
					style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
				>
					<a
						data-w-id="c3f9a274-abed-a04d-0872-c46841c54c87"
						href="/courses"
						class="button-tertiary w-inline-block"
						><div class="button-box-wrap">
							<div
								class="button-box"
								style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
							>
								<div>Get Started</div><div class="button-text-absolute">Get Started</div>
							</div>
						</div></a>
				</div>
			</div><div class="global-cta-marquee">
				<div data-w-id="bd2f90b8-4d2d-8e97-a1d0-a94fdc959402" class="marquee-row">
					<div
						class="wrapped-images odd-type"
						style="transform: translate3d(-88.512%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"
					>
						<div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f606_marquee-image-1.webp"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								width="Auto"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f607_marquee-image-2.webp"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								width="Auto"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f611_marquee-image-3.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f612_marquee-image-4.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f613_marquee-image-5.webp"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f606_marquee-image-1.webp"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f607_marquee-image-2.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div>
					</div><div
						class="wrapped-images odd-type"
						style="transform: translate3d(-88.512%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"
					>
						<div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f606_marquee-image-1.webp"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								width="Auto"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f607_marquee-image-2.webp"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								width="Auto"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f611_marquee-image-3.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f612_marquee-image-4.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f613_marquee-image-5.webp"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f606_marquee-image-1.webp"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f607_marquee-image-2.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div>
					</div>
				</div><div data-w-id="7ff36485-0394-29bb-8824-0ddd989704b1" class="marquee-row">
					<div
						class="wrapped-images even-type"
						style="transform: translate3d(-11.488%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"
					>
						<div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f614_marquee-image-6.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f615_marquee-image-7.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f616_marquee-image-8.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f617_marquee-image-9.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f606_marquee-image-1.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f614_marquee-image-6.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f615_marquee-image-7.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div>
					</div><div
						class="wrapped-images even-type"
						style="transform: translate3d(-11.488%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"
					>
						<div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f614_marquee-image-6.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f615_marquee-image-7.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f616_marquee-image-8.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f617_marquee-image-9.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f606_marquee-image-1.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f614_marquee-image-6.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f615_marquee-image-7.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div>
					</div>
				</div><div data-w-id="38bc443a-dc73-63c8-7d6a-e9a57998a5a8" class="marquee-row">
					<div
						class="wrapped-images odd-type"
						style="transform: translate3d(-88.512%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"
					>
						<div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f606_marquee-image-1.webp"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								width="Auto"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f607_marquee-image-2.webp"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								width="Auto"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f611_marquee-image-3.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f612_marquee-image-4.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f613_marquee-image-5.webp"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f606_marquee-image-1.webp"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f607_marquee-image-2.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div>
					</div><div
						class="wrapped-images odd-type"
						style="transform: translate3d(-88.512%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"
					>
						<div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f606_marquee-image-1.webp"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								width="Auto"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f607_marquee-image-2.webp"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								width="Auto"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f611_marquee-image-3.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f612_marquee-image-4.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f613_marquee-image-5.webp"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f606_marquee-image-1.webp"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								width="94"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f607_marquee-image-2.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div>
					</div>
				</div><div data-w-id="bd2f90b8-4d2d-8e97-a1d0-a94fdc95943d" class="marquee-row">
					<div
						class="wrapped-images even-type"
						style="transform: translate3d(-11.488%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"
					>
						<div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f614_marquee-image-6.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f615_marquee-image-7.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f616_marquee-image-8.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f617_marquee-image-9.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f606_marquee-image-1.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f614_marquee-image-6.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f615_marquee-image-7.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div>
					</div><div
						class="wrapped-images even-type"
						style="transform: translate3d(-11.488%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"
					>
						<div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f614_marquee-image-6.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f615_marquee-image-7.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f616_marquee-image-8.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f617_marquee-image-9.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f606_marquee-image-1.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f614_marquee-image-6.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f615_marquee-image-7.webp"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div><div class="marquee-item">
							<img
								src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f54d_star-image.svg"
								loading="lazy"
								alt=""
								class="marquee-image"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
