---
// src/components/about-us/Landing.astro
---

<header class="section-global-hero padding-bottom-zero background-gradient">
	<div class="container position-relative">
		<div class="inner-wrapper section-about-hero">
			<div class="about-hero-header">
				<div
					data-w-id="179d6f24-326e-99fe-081b-51a6dd877ebb"
					class="breadcrumbs"
					style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
				>
					<a href="/" class="breadcrumbs-link root">Home</a><div class="breadcrumbs-divider">
						/
					</div><a href="/about-us" aria-current="page" class="breadcrumbs-link w--current"
						>About</a>
				</div><div class="margin-bottom margin-16px">
					<h1
						data-w-id="cc88b1a2-5004-d531-dc6a-677f8fdf02f5"
						style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
					>
						About Our Ocera
					</h1>
				</div><div class="margin-bottom margin-40px">
					<p
						data-w-id="e69f3c71-1eca-acfd-b66b-8ebb116b7a2b"
						style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
						class="about-hero-text"
					>
						Create and sell online courses, build vibrant communities, and monetize memberships —
						all on a single, scalable platform.
					</p>
				</div><div
					data-w-id="ed913007-260c-5e13-3270-e9cabc8e8000"
					style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
					class="button-container"
				>
					<a href="/courses" class="button-primary w-inline-block"
						><div class="button-box-wrap">
							<div
								class="button-box"
								style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
							>
								<div class="button-text">Explore Course</div><div class="button-text-absolute">
									Explore Course
								</div>
							</div>
						</div></a>
				</div>
			</div><div class="about-hero-gallery">
				<div class="about-hero-gallery-content">
					<div
						data-w-id="07222a5d-5287-2a61-216a-1aeac173fd68"
						style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
						class="about-hero-gallery-figure"
					>
						<div class="image-animated-mask">
							<div
								class="image-animated-scale"
								style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
							>
								<img
									src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f5ff_about-hero-image-1.webp"
									loading="eager"
									sizes="(max-width: 479px) 46vw, (max-width: 767px) 22vw, (max-width: 1279px) 23vw, 300px"
									srcset="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f5ff_about-hero-image-1-p-500.webp 500w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f5ff_about-hero-image-1.webp 558w"
									alt="About hero image"
									class="image-default"
								/>
							</div>
						</div>
					</div><div
						data-w-id="b91ae469-3693-c705-74ca-d018c9395932"
						style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
						class="about-hero-gallery-figure"
					>
						<div class="image-animated-mask">
							<div
								class="image-animated-scale"
								style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
							>
								<img
									src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f600_about-hero-image-2.webp"
									loading="eager"
									sizes="(max-width: 479px) 46vw, (max-width: 767px) 22vw, (max-width: 1279px) 23vw, 300px"
									srcset="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f600_about-hero-image-2-p-500.webp 500w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f600_about-hero-image-2.webp 633w"
									alt="About hero image"
									class="image-default"
								/>
							</div>
						</div>
					</div><div
						id="w-node-a198a8b5-379e-02c8-9017-f6a9f8b9feae-2082f597"
						data-w-id="a198a8b5-379e-02c8-9017-f6a9f8b9feae"
						style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
						class="about-hero-gallery-figure"
					>
						<div class="image-animated-mask">
							<div
								class="image-animated-scale"
								style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
							>
								<img
									src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f55a_about-hero-gallery-3.webp"
									loading="eager"
									sizes="(max-width: 479px) 46vw, (max-width: 767px) 22vw, (max-width: 1279px) 23vw, 300px"
									srcset="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f55a_about-hero-gallery-3-p-500.webp 500w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f55a_about-hero-gallery-3.webp 632w"
									alt="a man wearing glasses using a laptop computer"
									class="image-default"
								/>
							</div>
						</div>
					</div><div
						data-w-id="0cba5975-22d5-a4cb-1d49-82fbf38536ec"
						style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
						class="about-hero-gallery-figure"
					>
						<div class="image-animated-mask">
							<div
								class="image-animated-scale"
								style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
							>
								<img
									src="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f602_about-hero-image-4.webp"
									loading="eager"
									sizes="(max-width: 479px) 46vw, (max-width: 767px) 22vw, (max-width: 1279px) 23vw, 300px"
									srcset="https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f602_about-hero-image-4-p-500.webp 500w, https://cdn.prod.website-files.com/66fb75f0a77f88302082f4ef/66fb75f1a77f88302082f602_about-hero-image-4.webp 558w"
									alt="About hero image"
									class="image-default"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><div class="about-gallery-white-background"></div>
</header>
