<header class="section-global-hero padding-bottom-zero">
	<div class="container">
		<div class="inner-wrapper">
			<div class="section-header content-align-center">
				<div
					data-w-id="179d6f24-326e-99fe-081b-51a6dd877ebb"
					class="breadcrumbs"
					style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
				>
					<a href="/" class="breadcrumbs-link root">Inicio</a><div class="breadcrumbs-divider">
						/
					</div><a href="/blog" class="breadcrumbs-link">Blog</a><div class="breadcrumbs-divider">
						/
					</div><div><div class="breadcrumbs-link">Detalles del blog</div></div>
				</div><div class="margin-bottom margin-24px">
					<h1
						data-w-id="7b0f62c7-4814-5b85-3948-cb2e0a21caaa"
						style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
						class="blog-post-hero-title"
					>
						Cómo mejorar los hábitos de estudio y alcanzar el éxito académico
					</h1>
				</div><div
					data-w-id="3dc202e7-7ffc-a545-b9a2-53b51223a30c"
					style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
					class="blog-post-hero-meta"
				>
					<div class="blog-post-hero-headshot">
						<img
							src="https://cdn.prod.website-files.com/66fb75f1a77f88302082f53d/66fb75f1a77f88302082f691_image16.jpeg"
							loading="lazy"
							alt="Foto de la Profesora Ana Martínez"
							class="image-default"
						/>
					</div><div class="blog-post-hero-meta-info">
						<h2 class="blog-author-name">Prof. Ana Martínez</h2><div class="blog-extra-details">
							<div class="blog-date-published-wrap">
								<div class="blog-date-published">9 de Julio, 2024</div><div>.</div>
							</div><div class="blog-time-reading"><div>8</div><div>min de lectura</div></div>
						</div>
					</div>
				</div>
			</div><div
				data-w-id="a290dd5c-1bdb-ace8-f159-992f18510449"
				style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
				class="blog-post-hero-image"
			>
				<img
					src="https://cdn.prod.website-files.com/66fb75f1a77f88302082f53d/66fb75f1a77f88302082f6c5_blog-post-image-4.webp"
					loading="lazy"
					alt="Estudiantes aplicando técnicas de estudio efectivas"
					sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, (max-width: 1279px) 97vw, 1248px"
					srcset="https://cdn.prod.website-files.com/66fb75f1a77f88302082f53d/66fb75f1a77f88302082f6c5_blog-post-image-4-p-500.webp 500w, https://cdn.prod.website-files.com/66fb75f1a77f88302082f53d/66fb75f1a77f88302082f6c5_blog-post-image-4-p-800.webp 800w, https://cdn.prod.website-files.com/66fb75f1a77f88302082f53d/66fb75f1a77f88302082f6c5_blog-post-image-4-p-1080.webp 1080w, https://cdn.prod.website-files.com/66fb75f1a77f88302082f53d/66fb75f1a77f88302082f6c5_blog-post-image-4.webp 1380w"
					class="image-default"
				/>
			</div>
		</div>
	</div><div class="absolute-wrapper blog-post">
		<div class="background-gradient-partial background-gradient"></div>
	</div>
</header>
