<header class="section-global-hero background-gradient">
	<div class="container">
		<div class="inner-wrapper section-blog-hero">
			<div
				data-w-id="179d6f24-326e-99fe-081b-51a6dd877ebb"
				class="breadcrumbs"
				style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
			>
				<a href="/" class="breadcrumbs-link root">Inicio</a><div class="breadcrumbs-divider">/</div><a
					href="/blog"
					aria-current="page"
					class="breadcrumbs-link w--current">Blog</a>
			</div><div class="margin-bottom margin-16px">
				<h1
					data-w-id="f89f5022-de09-0d66-5420-f611da759cfd"
					style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
				>
					Nuestro blog
				</h1>
			</div><div class="margin-bottom margin-32px">
				<p
					data-w-id="0a10caac-bb16-26f1-2fc2-3cde01bd72a1"
					style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
					class="blog-hero-text"
				>
					Conoce mas de nuestro blog, encuentre informacion relavante de itecce, adentrate en las activades que tenemos y conoce nuestras noticias
				</p>
			</div>
		</div>
	</div><div class="section-decoration-star">
		<div class="container container-decoration-star">
			<div class="inner-wrapper decoration-star-inner">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="100%"
					viewBox="0 0 80 80"
					fill="none"
					class="decoration-star"
					><path
						d="M80 40C69.8149 41.2212 60.3352 45.8281 53.0817 53.0817C45.8282 60.3352 41.2212 69.8149 40 80C38.7811 69.814 34.1749 60.3331 26.9209 53.0791C19.6669 45.8251 10.186 41.219 0 40C10.1851 38.7788 19.6648 34.1719 26.9184 26.9183C34.1719 19.6648 38.7788 10.1851 40 0C41.2212 10.1851 45.8282 19.6648 53.0817 26.9183C60.3352 34.1719 69.8149 38.7788 80 40Z"
						fill="currentColor"></path></svg>
			</div>
		</div>
	</div>
</header>
